/vendor/
/node_modules/
/public/app.config.js
.env
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/.idea/
/.vscode/
.phpunit.result.cache
